@charset "UTF-8";

@media screen and (min-width: 600px){
    main > section{
        width: 330px;
    }

    main > div.alerta{
        width: 330px;
    }
    
    footer{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        width: 380px;

        margin: auto;
        padding: 40px;
    }
}