@charset "UTF-8";

@media screen and (min-width: 600px){
    header{
        height: 280px;
    }
    main > section{
        width: 330px;
    }
    main > div{
        width: 290px;
    }
    footer{
        width:280px;
        height: 60px;

        margin: auto;
    }
    footer > div#logo{
        float: left;
    }
    footer > div#dev{
        float: right;
        transform: translateY(25px);
    }
}