@charset "UTF-8";

:root{
    --cor01: white;
    --cor02: #eff3f5;
    --cor03: #24903d;
    --cor04: #fef4c6;
    --cor05: #0b57a5;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100vw;

    background-color: var(--cor02);
}

main > div.top{
    background-color: var(--cor01);

    padding: 12px;

    width: 100%;

    text-align: center;

}
main > div.top > img{
    width: 60px;
    height: 60px;

    border-radius: 50%;
}

main{
    background-image: linear-gradient(to bottom, var(--cor03) 0px, var(--cor03) 380px, var(--cor02) 380px);

    padding-top: 10px;
    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main > div.alerta{
    background-color: var(--cor04);
    color: rgb(129, 129, 129);

    width: 300px;

    margin: 30px 0px 50px 0px;
    padding: 20px 40px;

    font-size: 0.9em;
    text-align: justify;

    border-radius: 10px;
    border: 2px solid rgb(210, 210, 210);
}
main > section{
    background-color: var(--cor01);
    color: rgb(151, 151, 151);

    margin-top: 110px;
    padding: 20px;

    width: 300px;
    height: 400px;

    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main > section > hr{
    width: 260px;
}
main > section > h1{
    font-size: 1.2em;
    font-variant: small-caps;
    text-align: center;
    padding: 5px;
}
main > section > form > input{
    background-color: var(--cor03);
    color: var(--cor01);
    font-variant: small-caps;
    font-weight: bolder;    
    padding: 8px 0px;
    width: 120px;
    border-radius: 20px;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
}
main > section > form > input:hover{
    background-color: #155424;
}
main > section > nav {
    text-align: center;
}
main > section > nav > a{
    display: block;
    padding: 5px;
    color: var(--cor05);
    text-decoration: none;
    font-size: .9em;
}
main > section > nav > a:hover{
    color: #0e6ac7;
}
main > section > form > .campo{
    display: block;
    
    text-align: center;
    
    background-color: var(--cor02);
    
    margin: auto;
    margin-bottom: 20px;

    height: 38px;
    width: 265px;

    border-radius: 30px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main > section > form > #cima{
    margin-top: 40px;
}
main > section > form > #baixo{
    margin-bottom: 40px;
}
main > section > form > div > label > span.material-symbols-outlined{
    background-color: #24903d;
    color: white;

    width: 40px;
    height: 40px;

    padding: 8px 0px 0px 0px;
    border-radius: 50%;
}
main > section > form > div > input{
    height: 30px;
    width: 220px;

    background-color: var(--cor02);
    border-radius: 0px 30px 30px 0px;
    
    border:none;
    outline: none;
}

hr{
    color: rgb(151, 151, 151);
}

footer{
    background-color: var(--cor02);
    color: rgb(81, 81, 81);    
    padding: 10px 30px;
    height: 100px;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
}
footer img{
    width: 60px;
    background-color: var(--cor02);
}